@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --bgCol: #282c39;
    --bgLCol: #363e4b;
    --bgHCol: #566174;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #f1f6fd
}

html{
    background-color: var(--bgCol);
}

#content{
    max-width: 1920px;
    margin: auto;
}

.ingredient{
    display: inline-block;
    width: 80px;
    height: 80px;
}

#cocktails{
    padding: 10px;
}

.recipe-card{
    width: 200px;
    height: 200px;
    padding-top: 10px;
    background-color: var(--bgLCol);
    border-radius: 5px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.recipe-card:last-child{
    margin-right: 0;
}

.recipe-card-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 200px;
    max-height: 170px;
}

.recipe-card .fitin{
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: var(--bgHCol);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.recipe-card-name {
}

.popup{
    visibility: visible;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20,20,20,0.2);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-content: center;
}

.recipe-info{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--bgCol);
}

.recipe-info .left{
    display: inline-block;
    float:left;
    width: 49%;
    height: 100%;
}

.recipe-info img{
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.recipe-info h2{
    
}

.recipe-info .name-background{
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    width:calc(50% - 20px);
    height:40px;
    background-color: var(--bgLCol);
    border-bottom: 2px solid var(--bgHCol);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    line-height: 40px;
}

.recipe-info .right{
    display: inline-block;
    float: right;
    width: 49%;
    height: 100%;
}

.ingredient-bar{
    margin-top: 40px;
    float: left;
    width: 20px;
    height: 80%;
    border-radius: 10px;
}

.ingredient-bar-value{
    width: 20px;
    height:20px;
}

.ingredient-bar-value:first{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ingredient-bar-value:last{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.recipe-info ul{
    float: left;
    margin-left: 20px;
    margin-top: 50px;
}

.recipe-info ul li{
    display: inline;
    position: absolute;
    top: 30;
}